<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Clockmaster</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>The Clockmaster</h1>
            <div id="head2">
                <a>Our Story</a>
                <a href="{{ url_for('login') }}" id="login">Login</a>
                <a href="{{ url_for('logout') }}" id="logout">Logout</a>      
        </header>
        <p id="welcome-message">{{ username }}</p>
        <main class="product-grid">
            {% for watch in watches %}
            <div class="product-box">
                <div class="image-container">
                    <img src="{{ watch.watch_image }}" alt="{{ watch.watch_name }}">
                </div>
                <div class="watch_details">
                    <h2>{{ watch.watch_name }}</h2>
                    <p>Price: ${{ watch.watch_price }}</p>
                    <p>Quantity Left: {{ watch.watch_quantity }}</p>
                    <p>{{ watch.watch_detail }}</p>    
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
    <footer>
        <p>&copy; Where the Best Watchmasters Meet</p>
    </footer>
    <script src="static/script.js"></script>
</body>
</html>