<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Clockmaster</title>
    <link rel="stylesheet" href="static/register-style.css">
</head>
<body>
    <div class="main-container">
        <div class="login-box">
            <form id="create_new_user">
                <label for="username-input-login">Username:</label>
                <input type="text" id="username-input-login" name="username-input-login" required>
                <label for="password-input-login">Password:</label>
                <input type="password" id="password-input-login" name="password-input-login" required>
                <p id="username-taken">Username has been taken</p>
                <button type="submit" id="register-button">Register</button>
            </form>
        </div>
    </div>
    <script src="static/register-script.js"></script>
</body>
</html>